<div class="page-width" data-section-id="{{ section.id }}" data-section-type="collections-list"{% if section.settings.stretch_collection_image %} data-stretch-image{% endif %}>
  {% assign blocks_count = section.blocks.size %}

  {% case blocks_count %}
    {% when 1 %}
      {% assign grid_item_width = 'medium-up--one-half' %}
      {% assign height = 450 %}
      {% assign number_rows = 1 %}
    {% when 2 %}
      {% assign grid_item_width = 'medium-up--one-half' %}
      {% assign height = 450 %}
      {% assign number_rows = 1 %}
    {% when 3 %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
      {% assign number_rows = 1 %}
    {% when 4 %}
      {% assign grid_item_width = 'medium-up--one-quarter' %}
      {% assign height = 235 %}
      {% assign number_rows = 1 %}
    {% when 5 %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
      {% assign number_rows = 2 %}
    {% when 6 %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
      {% assign number_rows = 2 %}
  {% endcase %}

  <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="{{ number_rows }}">
    {% assign row_number = 1 %}

    {% for block in section.blocks %}
      {% if blocks_count == 5 and forloop.index > 3 %}
        {% assign grid_item_width = 'medium-up--one-half' %}
        {% assign height = 450 %}
      {% endif %}
      {% if blocks_count > 4 and forloop.index > 3 %}
        {% assign row_number = 2 %}
      {% endif %}

      {% assign featured_collection = collections[block.settings.collection] %}
      {% include 'collection-grid-item' with stretch_collection_image: section.settings.stretch_collection_image, height: height %}
    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "de": "Kategorieliste",
    "en": "Collection list",
    "es": "Lista de colecciones",
    "fr": "Liste des collections",
    "it": "Elenco delle collezioni",
    "ja": "コレクションリスト",
    "pt-BR": "Lista de coleções"
  },
  "class": "index-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "stretch_collection_image",
      "label": {
        "de": "Sekundäres Bildlayout verwenden",
        "en": "Use secondary image layout",
        "es": "Usar el diseño de la imagen secundaria",
        "fr": "Utiliser la disposition d'image secondaire",
        "it": "Usa layout immagine secondaria",
        "ja": "サブ画像レイアウトを使用する",
        "pt-BR": "Use o layout de imagem secundário"
      }
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      },
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": {
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fr": "Collection",
            "it": "Collezione",
            "ja": "コレクション",
            "pt-BR": "Coleção"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Kategorieliste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fr": "Liste des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "pt-BR": "Lista de coleções"
      },
      "category": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      },
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
